<% layout('layouts/boilerplate') %>
<div class="container d-flex justify-content-center align-itemss-center mt-5">
  <div class="card text-white bg-info mb-3" style="max-width: 540px;">
    <img src="../images/xenia.png" class="img-fluid rounded-start">
    <div class="card-body">
      <h5 class="card-title">About Me</h5>
      <p class="card-text">I create API servers using Node.js, npm, express, and Python. I also use Java, JavaScript, MongoDB, and Html in creating applications. I’m learning React. Thank you to all my Udemy teachers, I can always go back and rewind the classes. Thank you Heroku, MongoDB, Unsplash, to the community developers and open-source links. I love to collaborate with people who think with intentions, without inhibitions and backdoors. Having said this, I don't like plastic literally and figuratively. I believe that everybody should respect each other regardless of their race, gender, jobs, status in life, and beliefs. Let's join forces, contact me through this email address: xenia.iporac@gmail.com, and create some innovations.</p>
    </div>
  </div>
</div>