<% layout('layouts/boilerplate') %>

<div class="card text-white bg-dark mb-3" style="max-width: 540px;">
  <!--<div class="card-header">Header</div>-->
  <img src="../images/xenia.png" class="img-fluid rounded-start">
  <div class="card-body">
    <h5 class="card-title">About Me</h5>
    <p class="card-text">I create api servers using nodejs, npm, express, and python. I use java, javascript, mongodb and html too in creating applications. I’m learning reactjs. I love to work on linux with vi editor. Thank you to all my Udemy teachers, I can always go back and rewind the class if I forgot some of the syntaxes and copy the quintessential codes at hand. Thank you Heroku, Mongodb, to the community developers and open-source links available. I love to collaborate with people who think with intentions, without inhibitions and backdoors. Having said this, I don't like plastic literally and figuratively. I believe that everyone should respect everyone regardless of their race, gender, jobs, status in life, and beliefs. Let's join forces, contact me through this email: xenia.iporac@gmail.com.</p>
  </div>
</div>
