<% layout('layouts/boilerplate') %>

<div class="container">
  <div class="card-group">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">    
            <img src="../images/xenia.png" class="img-fluid rounded-start">
            <div class="card-body">
              <h5 class="card-title"><a href="https://twitter.com/Xenia1524"><i class="bi-twitter"></i></a> About Me <a href="https://www.linkedin.com/in/xenia-iporac-12404b8/"><i class="bi-linkedin"></i></a></h5>
              <p class="card-text">I create API servers using Node.js, npm, express, and Python. I also use Java, JavaScript, MongoDB, and Html in making applications. Thank you to all my Udemy teachers; I can always go back and rewind the classes. Thank you, Heroku, MongoDB, Unsplash, Google, YouTube, developer communities, and open source libraries. Let's join forces and create some innovations.</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
