<% layout('layouts/boilerplate') %>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="../images/activities/biking.jpg" class="img-fluid rounded-start">
        <div class="card-body">
          <h5 class="card-title">Equipments</h5>
          <p class="card-text">Decathlon Pasig lets you use their sports equipment inside their store to play around.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><a href="https://www.decathlon.ph" class="text-decoration-none">Decathlon Pasig</a></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../images/activities/simming.jpg" class="img-fluid rounded-start">
        <div class="card-body">
          <h5 class="card-title">Swimming</h5>
          <p class="card-text">I don't mind them swimming in the deep alone.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><a href="http://www.acewaterspa.com.ph/" class="text-decoration-none">Don't know how to swim yet?</a></small>
        </div>
      </div>
    </div>

  </div>
<div>