<% layout('layouts/boilerplate') %>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="../images/food/cookies.jpg" class="img-fluid rounded-start">
        <div class="card-body">
          <h5 class="card-title">Cookies</h5>
          <p class="card-text">Even if I beat myself up in-home exercises, I still indulged myself, in the freshly baked cookies my daughter makes. Believe me; it's so good.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><a href="https://radiant-shore-35165.herokuapp.com/" class="text-decoration-none">MiXBucks Cookies</a></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../images/food/coffee.jpg" class="img-fluid rounded-start">
        <div class="card-body">
          <h5 class="card-title">Coffee</h5>
          <p class="card-text">"Although early studies of coffee suggested that it could lead to health problems, recent research provides strong evidence that drinking coffee actually has a variety of health benefits."</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><a href="https://www.hsph.harvard.edu/news/hsph-in-the-news/is-coffee-good-or-bad-for-your-health/" class="text-decoration-none">Is coffee good or bad for your health?</a></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../images/food/pizza.jpg" class="img-fluid rounded-start">
        <div class="card-body">
          <h5 class="card-title">Pizza</h5>
          <p class="card-text">Do you know that kneading a dough releases stress? That's why I let my daughter baked pizza whenever she feels like it.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><a href="https://www.calmmoment.com/mindfulness/how-mindful-baking-can-improve-your-mood-and-reduce-stress" class="text-decoration-none">How mindful baking can improve your mood and reduce stress.</a></small>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="../images/food/shabu2x.jpg" class="img-fluid rounded-start">
        <div class="card-body">
          <h5 class="card-title">Shabu Shabu</h5>
          <p class="card-text">We just recently ate a Korean Shabu Shabu and I really did eat a lot. Why not? It's unlimited meat and vegetables.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><a href="https://www.funkyasiankitchen.com/blog/shabu-shabu/" class="text-decoration-none">Shabu Shabu</a></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../images/food/tokyo2.jpg" class="img-fluid rounded-start">
        <div class="card-body">
          <h5 class="card-title">Tokyo Tokyo</h5>
          <p class="card-text">"Drive-thru restaurants are not a bad idea especially if you are in a hurry.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><a href="https://www.spot.ph/eatdrink/the-latest-eat-drink/86150/new-drive-thru-park-dine-a3284-20210512" class="text-decoration-none">You Don't Need to Leave Your Car to Order Food at These New Drive-Thru Spots.</a></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../images/food/wendys.jpg" class="img-fluid rounded-start">
        <div class="card-body">
          <h5 class="card-title">Wendys</h5>
          <p class="card-text">Wendys is our all-time favorite burger place to hang out.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><a href="https://www.wendys.com/" class="text-decoration-none">Never Frozen Beef Since 1969.</a></small>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="../images/food/sandwich.jpg" class="img-fluid rounded-start">
        <div class="card-body">
          <h5 class="card-title">Homemade Sandwich</h5>
          <p class="card-text">White bread and bacon with leaves, it's so easy to make yet so tasty.</p>
        </div>
        <!--<div class="card-footer">
          <small class="text-muted"><a href="https://www.funkyasiankitchen.com/blog/shabu-shabu/" class="text-decoration-none">Shabu Shabu</a></small>
        </div>-->
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../images/food/recipe2.jpg" class="img-fluid rounded-start">
        <div class="card-body">
          <h5 class="card-title">Beans, Eggs, Mushrooms</h5>
          <p class="card-text">When I was a kid, my mom; use to feed me hunts pork and beans. It's sweet and delicious for me. So I try to put some veggies with it to make it more nutritious.</p>
        </div>
        <!--<div class="card-footer">
          <small class="text-muted"><a href="https://www.spot.ph/eatdrink/the-latest-eat-drink/86150/new-drive-thru-park-dine-a3284-20210512" class="text-decoration-none">You Don't Need to Leave Your Car to Order Food at These New Drive-Thru Spots.</a></small>
        </div>-->
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../images/food/recipe1.jpg" class="img-fluid rounded-start">
        <div class="card-body">
          <h5 class="card-title">Ikea Meatballs, Pasta, Banana Blossom</h5>
          <p class="card-text">This is my experiment number 1. I cooked pasta with sinigang sauce and banana blossoms. My son is a picky eater so I try different recipes that he will eat.</p>
        </div>
        <!--<div class="card-footer">
          <small class="text-muted"><a href="https://www.wendys.com/" class="text-decoration-none">Never Frozen Beef Since 1969.</a></small>
        </div>-->
      </div>
    </div>

  </div>
<div>

