<% layout('layouts/boilerplate') %>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col">
      <div class="card h-100">
        <video controls>
          <source src="../images/videos/Marcos_edit1" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <div class="card-body">
          <h5 class="card-title">Stranger Things</h5>
          <p class="card-text">My son copied a video on TikTok and edited it as you watch it here. As Elon Musk tweeted, "Is TikTok destroying civilization? Some people think so."</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <video controls>
          <source src="../images/videos/Marcos_edit2" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <div class="card-body">
          <h5 class="card-title">CapCut</h5>
          <p class="card-text">Another edit from Marco. I asked him where did he learn editing videos. He showed me capcut video editing app. He said he learned it from TikTok following a tutorial post. Kids nowadays learns fast through social media means. What are the pros and cons?</p>
        </div>
      </div>
    </div>
    
  </div>
<div>