<% layout('layouts/boilerplate') %>

<div class="container">
  <div class="card-group">
    <div class="row">
      <div class="col-6 offset-3">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1557310717-d6bea9f36682?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="card-img-top">
      <div class="card-body">
        <center>
          <p class="card-text"><small class="text-muted">Unsplash photo by <a class="text-decoration-none" href="https://unsplash.com/@ellienelie">@ellienelie</a></small></p>
          <h5 class="card-title">Cookies for Sale</h5>
        </center>
        <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
      </div>
    </div>
    <!--<div class="card">
      <img src="https://images.unsplash.com/photo-1583685133115-90748ccbe274?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHBoaWxpcHBpbmVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top">
      <div class="card-body">
        <center><p class="card-text"><small class="text-muted">Unsplash photo by <a class="text-decoration-none" href="https://unsplash.com/@julesbss">@julesbss</a></small></p></center>
        <h5 class="card-title">Philippines</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>-->
      </div>
    </div>
  </div>
</div>