<% layout('layouts/boilerplate') %>

<div class="card text-center">
    <div class="card-header">
        <%= tourground.location %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= tourground.title %></h5>
      <p class="card-text"><%= tourground.description %></p>
      <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
    </div>
    <div class="card-footer text-muted">
        <%= tourground.created %>
    </div>
  </div>
